html {
    scroll-behavior: smooth;
    position: relative;
    margin: 0;
    padding: 0;
  }
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
#menu-01 {
    position: fixed;
    top:0;
    right: 0;
  }
.active.enlace  { 
    text-decoration: underline;
    text-decoration-style: solid 2px;
}
.summary {display: none;}
 .active.enlace .summary {display:block;}
.enlace {
    color: #f9f9f9!important;
    font-weight: 800;
    padding: 15px 8px;
}
.cambio-menu{
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}
.cambio-color{
    color:#444444!important;
}
.menuprincipal{
    padding-top: 15px;
    padding-bottom: 10px;
}
.logo-pagina{
    width: 12%;
    transition: all 0.5s ease-in-out;
}
/*.bajada li a{
    color: gray;
}*/

#inicio {
    background-image: url('../imagenes/banner-teofilowp.jpg');
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 70px;
    color: #fff;
    background-color: rgba(0,0,0,0.55);
    background-blend-mode: soft-light;
}
.minavbar{
    background:transparent;
}
.nav-item ion-icon{
    color: #fff;
}
.navbar-toggler{
    border: 1px solid #000;
}
.enlace:hover{
    font-weight: 900;
}
.enlace:visited{
    font-weight: 400;
}
.lista-link li a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
}
.lista-link2 li a
{
    color: gray;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}
.nav-item ion-icon{
    color: gray;
}
.bienvenida {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.nombre-inicio{
    text-align: center;
    font-size: 72px;
    padding: 17px;
    font-family: 'Montserrat', sans-serif;
}
.cuerpohero {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.btn{
    font-size: 18px;
    font-weight: 600;
}
.botones {
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.botones-hero{
    border-color: #fff;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 20px;
    color: #fff;
}

.botones-hero:hover{
    background-color: #fff;
    color: #000;
}
.btn01,.btn02{
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 50px;
    padding-left: 50px;
}
.text-center {
    text-align: center!important;
}
.icono-social {
    text-align: center;
    
}
.icono-social ion-icon{
    font-size: 25px;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 50%;
}
.icono-social ion-icon:hover{
    color: #000;
    background-color: #f8f9fa;
    transition: 1s all ease;
}
#Sobre-mi {
    padding-top: 80px;
    padding-bottom: 80px;
}
.justify-content-center {
    justify-content: center!important;
}
.titulo-sobre-mi, .mis-servicios {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #212529;
}
.titulo-sobre-mi h2, .mis-servicios h2{
    font-size: 32px;
    font-weight: 600;
}
.titulo-sobre-mi p, .mis-servicios p {
    text-align: center;
    color: #6c757d;
    padding-top: 20px;
}
.foto-personal img {
    display: block;
    max-width: 75%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #212529;
}
.seccion-porcentajes{
    padding: 15px;
}
.mi-progreso {
    height:5px;
    border-radius: 0px;
    margin-bottom: 40px;
    margin-top: 10px;
}
.color-progreso {
    background: #000;
}
.clearfix::after{
    display: block;
    clear: both;
    content: "";
}
.carrera{
    color: #000;
    font-weight: 700;
    float: left!important;
}
.porcentaje {
    color: #6c757d;
    float: right!important;
}
#servicios{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f8f9fa;
}
.grilla-servicios{
    padding: 15px;
}
.lan_box_ser{
    border: 1px dotted #e7e7e7;
    color: #212529;
}
.service-content h5{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.icono-servicio{
    font-size: 50px;
}
.img-servicio img{
    display: block;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.text-muted{
    font-size: 16px;
    color: #6c757d;
}
#certificados{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}
#certificados img {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.titulo-certificado h2{
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
#certificados img:hover{
    filter: brightness(0.5);
    transition: all 0.5s ease-in-out;
}
#portafolio{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f8f9fa;
}
#portafolio img {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}
ul.filters > li{
    list-style: none;
    display: inline-block;
}
ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}
ul.filters > li> a:hover{
    background-color: #e6e9ed;
}
ul.filters > li.active > a{
    color: #fff;
    background-color: #28bea8;
}
#portafolio img:hover{
    filter: brightness(0.5);
    transition: all 0.5s ease-in-out;
}
#clientes{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}
.titulo-testimonio{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.carousel-container p{
    color: #757575;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
}
.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}
.testimonial-user h6 {
    margin-bottom: 0px;
}
.testimonial-user span {
    font-size: 12px;
}
.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}
.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: center;
}
.boton-control img{
    max-width: 30%;
}
hr{
    margin: 0;
    border: 2px;
    border-top: 1px solid #eee;
    border-color: rgba(151, 151, 151, 0.44);
}
#autor{
    background: #fff;
    padding-bottom:75px;
}
.autor-seccioninterna{
    padding-top: 75px;
    
}
.persona{
    display: flex;
    justify-content: center;
}
.ficha-persona img {
    display: block;
    max-width: 20%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.ficha-persona h3{
    text-align: center;
    padding-top: 25px;
    font-weight: 400;
}
.ficha-persona p {
    text-align: center;
    color: #757575;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
}
.autor-datos{
    padding: 50px;
}
.autor-datos p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 16px;
    font-weight: 300;
}
.final-ficha{
    text-align: center;
}

#contacto{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f8f9fa;
}
.seccion-titulo {
    justify-content: center!important;
}
.seccion-titulo h2{
    text-align: center;
}
hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #212529;
    margin: 0 auto;
}
.icono-contacto {
    font-size: 45px;
}
.correo {
    font-size: 20px;
    color: #212529;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.correo:hover{
    color: #212529;
    text-decoration: none;
}
#tipos_paginas{
    font-size: 35px;
    margin-top: 40px;
}
@media only screen and (max-width: 768px){
    .enlace{
        font-size: 14px;
    }
    .nombre-inicio{
        font-size: 40px;
    }
    .bienvenida{
        font-size: 22px;
    }
    .cuerpohero{
        font-size: 17px;
    }
    .icono-contacto ion-icon{
        font-size: 20px;
        padding: 12px;
    }
    .btn{
        font-size: 14px;
    }
    #Sobre-mi, #servicios ,#certificados, #portafolio ,#contacto {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .titulo-sobre-mi h2, .mis-servicios h2{
        font-size: 26px;
    }
    .titulo-sobre-mi p, .mis-servicios p{
        padding-top: 10px;
        font-size: 14px;
    }
    .foto-personal img {
        max-width: 45%;
    }
    .carrera, .porcentaje{
        font-size: 12px;
    }
    .service-content h5{
        font-size: 14px;
    }
    .lan_box_ser{
        padding: 5px!important;
    }
    .img-servicio img {
        max-width: 30%;
    }
    .text-muted{
        font-size: 10px;
    }
    .titulo-certificado h2{
        padding-bottom: 0px;
    }
    .titulo-testimonio, .seccion-titulo h2 {
        font-size: 32px;
        font-weight: 600;
    }
    .carousel-container p{
        font-size: 12px;
    }
    #clientes .container {
        max-width: 690px;
    }
    .carousel-container{
        max-width: 515px;
    }
    .correo{
        font-size: 14px;
    }
    #tipos_paginas{
        font-size: 25px;
    }
}
@media only screen and (max-width: 425px){
    /*.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
        background-color: #fff!important;
    }*/
    
    .logo-pagina{
        width:24%;
    }
    .enlace{
        color: #000!important;
    }
    .bienvenida{
        font-size: 18px;
    }
    .nombre-inicio {
        font-size: 30px;
    }
    .cuerpohero{
        font-size: 14px;
    }
    .icono-contacto ion-icon{
        font-size: 27px;
        padding: 10px;
    }
    #certificados img, #portafolio img {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .titulo-sobre-mi p, .mis-servicios p{
        font-size: 12px;
    }
    .cambio-linea{
        display: none;
    }
    .carousel-container {
        max-width: 312px;
    }
    .boton-control img {
        max-width: 50%;
    }
    .testimonial-user img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .testimonial-user h6{
        text-align: center;
        padding-top: 10px;
    }
}